*, *::afer, *::before {
margin: 0;
padding: 0;
font-family: 'Courier New', Courier, monospace;
} /* overide padding & margin */
html{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {    
    font-size: 5vh;
    margin: 2.5vh;
    color: rgb(144, 127, 255);   
}

#gameTable {
    padding-top: 10vmin ;
    width: 70vmin;
    height: 60vmin;
    /* background-color: rgba(128, 128, 128, 0.671); */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.cell {
    position: relative;
    /* border: 1px dotted white; */
    display: flex;
}

.cell::before {
position: absolute;
content: '';
width: 100%;
height: 100%;
background-image: radial-gradient(transparent 60%, rgb(156, 97, 238) 60%);
z-index: 1;
}

.piece {
    border-radius: 50%;
    flex-grow: 1;
}

.piece[data-player="1"] {
    background-image: url('red.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.piece[data-player="2"] {
    background-image: url('black.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.piece[data-placed="false"] {
    transform: translateY(-10vmin);
}

#turn-indicator {
    text-align: center;
    font-weight: bold;
    width: 150px;
    height: 25px;
    background-color: rgb(170, 163, 163);
}

.fall-out {
    transform: translateY(1000px);
    transition: transform 0.5s ease-out;
}

.piece[data-player="1"][data-highlighted="true"] {
    background-image: url('red-win.png');

  }
  
  .piece[data-player="2"][data-highlighted="true"] {
    background-image: url('black-win.png');
}

/* MODAL */

#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.144);
    padding-top: 15vh;
}

#modal-content {
    position: relative;
    width: 50vw;
    margin: auto;
    padding: 2.5vmin;
    background-color: rgba(42, 0, 110, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: animatetop;
    animation-duration: 0.25s ;
}

@keyframes animatetop {
    from {top: -30vmin; opacity: 0;}
    to {top: 0; opacity: 1;}
}

#modal-message {
    font-size: 5vmin;
    margin: 2.5vmin;
}

#reset {
    color: rgba(42, 0, 110, 0.5);
    font-size: 4vmin;
    margin: 2.5vmin;
    padding: 2.5vmin;
    background-color: rgba(10, 213, 254, 0.5);
    font-weight: bold;
}

